/* Global*/

body {

	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin:0;
	background-color: #f4f4f4;

}

.container {

	width: 80%;
	margin: auto;
	overflow: hidden;

}

ul {

	padding: 0;
	margin: 0;
}


/* Header */
header {

	background: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #0f7448 4px solid;
	width: 100%;
	position: sticky;

}

header a {

	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;

}

header a:hover {

	color: #e50020;
	font-weight: bolder;
}

header a.active {

	background-color: #000000;
	color: #ffffff;
	padding: 5px;
	font-weight: bolder;
}

header ul {
	
	padding: 0;
	margin: 0;
}

header li{

	float: left;
	display: inline;
	padding: 0 20px 0 20px;

}	

header #brand{

	float: left;
}

header #brand h1 {

	margin: 0;
}

header #book {

	float: right;
	margin-left: 0.5;
	padding-right: 10px;
	display: inline;
}

header .button {

	height: 38px;
	border-style: none;
	font-weight: bold;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	background-color: #000000

}

header nav {

	float: right;
}

/*GALLERY*/

#gallery {

	min-height: 400px;
	background: url('../img/show.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	
}

/*BOXES*/

#boxes {

	margin-top: 40px;
}

#boxes .box {

	float: left;
	width: 30%;
	padding: 20px;
	text-align: center;
}

/*#boxes .box img {

	width: 90px;
	size: 60px 60px;

}*/

footer{

	margin-top: 20px;
	padding-top: 20px;
	background-color: #e50020;
	text-align: center;
	position: relative;
	clear: both;
	height: 200px;
}

